:root {
  --primary: rgb(14, 14, 14) !split;
  --red: hsl(0 80% 50% / 25%) !split;
  --foo: lch(48.25% 30.07 196.38) !split;
  --bar: hwb(210 0% 60% / 50%) !split;
  --baz: lab(52.2345% 40.1645 59.9971) !split;
}
